---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Kakedashi-Portfolio.">
	<main>

		<div class="banner">
			<img src="public/top.png" alt="Banner image" />
			<div class="banner-title">On The Frog</div>
		</div>

		<h1>Welcome to <span class="text-gradient">Kakedashi-Portfolio</span></h1>
		<!-- <p class="instructions">
			1
		</p> -->
		<ul role="list" class="link-card-grid">
			<Card
				href="/profile"
				title="ProfileðŸ˜Ž"
				body="Check out my profile."
			/>
			<Card
				href="https://kakedashi.substack.com?sd=pf"
				title="NovelðŸ–Š"
				body="Fiction"
			/>
			<Card
				href="https://www.onthefrog.xyz/"
				title="On The FrogðŸ¸"
				body="CC0 collection."
			/>
			<Card
				href="https://twitter.com/kakedashi_tarou"
				title="TwitterðŸ¤"
				body="@kakedashi_tarou"
			/>
			<Card
				href="https://github.com/kakedashi3/"
				title="GithubðŸ¦‘"
				body="@kakedashi3"
			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.banner {
		position: relative;
		width: 100%;
		padding-top: 56.25%; /* 16:9 ã‚¢ã‚¹ãƒšã‚¯ãƒˆæ¯” */
		overflow: hidden;
	}
	.banner img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
	}
	.banner-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
		font-weight: bold;
	}
	@media (max-width: 600px) {
		.banner-title {
			font-size: 1.5rem;
		}
	}
</style>
