---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Kakedashi-Portfolio.">
	<main>
		<h1>Welcome to <span class="text-gradient">Kakedashi-Portfolio</span></h1>
		<p class="instructions">
			1
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/profile"
				title="ProfileðŸ˜Ž"
				body="Check out my profile."
			/>
			<Card
				href=""
				title="On The FrogðŸ¸"
				body="Coming soon..."
			/>
			<Card
				href="https://twitter.com/kakedashi_tarou"
				title="TwitterðŸ¤"
				body="@kakedashi_tarou"
			/>
			<!-- <Card
				href="https://github.com/kakedashi3/"
				title="GithubðŸ¦‘"
				body="@kakedashi3"
			/> -->
			<Card
				href="https://chirubinu.substack.com?sd=pf"
				title="NovelðŸ–Š"
				body="Fiction"
			/>
			<iframe src="https://chirubinu.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
