---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="My Profile">
  <main class="container">
    <h1 class="text-3xl font-bold">My Profile</h1>
    <p class="text-lg my-4">Hi! I'm Kakedashi.</p>
    <ul class="space-y-4">
      <li>
        <a href="#" class="text-blue-500 font-medium">About as...</a>
        <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae augue eget risus faucibus lacinia sit amet in elit.</p>
      </li>
    </ul>
    <div class="mt-8">
      <Card
        href="https://kakedashi.xyz"
        title="Back to About Me"
        body="Go back to my about me page."
      />
    </div>
  </main>
</Layout>


<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>

